#################
## IntelliJ
#################
.idea/**
*.iml

#################
## NodeJs
#################
node_modules/**

#################
## Dojo Toolkit
#################
**/dojo/**

#################
## Gradle
#################
build/
.gradle/